/* PrivacyPolicy.css */

.privacy-policy-container {
  padding: 20px;
}

.privacy-policy-container h2 {
  color: #007bff;
  /* Blue color for heading */
}

.privacy-policy-content {
  margin-top: 20px;
}

.privacy-policy-image img {
  width: 100%;
  border-radius: 8px;
}

.privacy-policy-text {
  padding-left: 20px;
}

.privacy-policy-text h3 {
  margin-top: 20px;
}

.privacy-policy-text p {
  margin-bottom: 20px;
}
